<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>Myriad, agence de création vidéo</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://images/apple-touch-icon.png?v=1.0.0')|e }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url('theme://images/favicon-32x32.png?v=1.0.0')|e }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('theme://images/favicon-16x16.png?v=1.0.0')|e }}" />
    <link rel="manifest" href="{{ url('theme://images/site.webmanifest?v=1.0.0')|e }}" />
    <link rel="mask-icon" href="{{ url('theme://images/safari-pinned-tab.svg?v=1.0.0" color="#1c5d7c')|e }}" />
    <link rel="shortcut icon" href="{{ url('theme://images/favicon.ico?v=1.0.0')|e }}" />
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-config" content="{{ url('theme://images/browserconfig.xml?v=1.0.0')|e }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="canonical" href="{{ page.canonical(true)|e }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('https://cdn.jsdelivr.net/combine/npm/purecss@2.0.6,npm/normalize.css@8.0.1', 100) %}
    {% do assets.addCss('theme://css/custom.css', 98) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('theme://js/custom.js', 100) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }}">
    <main class="snap-container">
        {% block hero %}
            <section id="hero" class="hero snap">
                <h1 class="hero-title">
                    {{ page.header.title|e }}
                </h1>
                <img
                    class="hero-image"
                    src="https://ik.imagekit.io/puka{{ media[page.header.hero_image|first.path].url|raw }}"
                    alt=""
                />
            </section>
        {% endblock %}

        {% block projets %}
            <section id="projects" class="projects snap">
                <div class="project-container">
                    <ul class="project-list">
                        {% for project in header.projects %}
                            {% set project_page = page.find(project) %}
                            <li class="project-item">
                                <a class="project-link" href="{{ project_page.url|e }}">
                                    <h3 class="project-title">{{ project_page.title|e }}</h3>
                                    <div class="cta project-cta">
                                        <p>{{ project_page.header.resume }}</p>
                                        <div class="cta project-more">
                                            Voir le projet
                                        </div>
                                    </div>
                                    <img
                                        src="https://ik.imagekit.io/puka{{ media[project_page.header.illustration|first.path].url|raw }}"
                                        alt=""
                                        class="project-image"
                                        loading="lazy"
                                    />
                                </a>
                            </li>
                        {% endfor %}
                        <li class="project-item all-projects">
                            <a class="project-link" href="">
                                <h3 class="project-title">Voir tous les projets</h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        {% endblock %}

        {% block services %}
            <section id="services" class="services snap">
                <h2 class="services-title">{{ header.services_title|e }}</h2>
                <div class="container services-content">
                    <p>{{ header.services_content|markdown }}</p>
                </div>
                <div class="services-container">
                    <div class="service-item">
                        <h3 class="service-title">{{ header.services_one|e }}</h3>
                        <img
                            src="https://ik.imagekit.io/puka{{ media[header.services_image_one|first.path].url|raw }}"
                            alt=""
                            class="service-image"
                            loading="lazy"
                        />
                    </div>
                    <div class="service-item">
                        <h3 class="service-title">{{ header.services_two|e }}</h3>
                        <img
                            src="https://ik.imagekit.io/puka{{ media[header.services_image_two|first.path].url|raw }}"
                            alt=""
                            class="service-image"
                            loading="lazy"
                        />
                    </div>
                    <div class="service-item">
                        <h3 class="service-title">{{ header.services_three|e }}</h3>
                        <img
                            src="https://ik.imagekit.io/puka{{ media[header.services_image_three|first.path].url|raw }}"
                            alt=""
                            class="service-image"
                            loading="lazy"
                        />
                    </div>
                    <div class="service-item">
                        <h3 class="service-title">{{ header.services_four|e }}</h3>
                        <img
                            src="https://ik.imagekit.io/puka{{ media[header.services_image_four|first.path].url|raw }}"
                            alt=""
                            class="service-image"
                            loading="lazy"
                        />
                    </div>
                </div>
            </section>
        {% endblock %}
            <section class="contact">
                <div class="form-container">
                    <h2 class="form-title">{{ header.form_title|e }}</h2>
                    <span class="form-contact">
                        <a href="mailto:{{ header.form_email|e }}">{{ header.form_email|e }}</a>
                    </span>
                    <span class="form-contact">
                        <a href="tel:{{ header.form_phone|e }}">{{ header.form_phone|e }}</a>
                    </span>
                </div>
                <img
                    class="contact-image"
                    src="https://ik.imagekit.io/puka{{ media[header.form_image|first.path].url|raw }}"
                    alt=""
                />
            </section>

        {% block footer %}
            <div class="footer text-center">
                <div class="footer-text">
                    <p>
                        &copy; 2021 Myriad - written by Puka.
                    </p>
                </div>
            </div>
        {% endblock %}

        {% block bottom %}
            {{ assets.js('bottom')|raw }}
        {% endblock %}
    </main>
</body>
</html>
